.animated-grid {
    height: 80vh;

    display: grid;
    gap: 1rem;

    grid-template-areas: 
    'a b c d'
    'l m m e'
    'k m m f'
    'j i h g';


    grid-template-rows: repeat(4, 25%);
    grid-template-columns: 240px auto auto 240px;
    --stagger-delay: 100ms;

}
@keyframes cardEntrance {
    from 
    {
        opacity: 0;
        transform: scale(0.1);
        filter: hue-rotate(180deg);
    }
    to 
    {
        opacity: 2;
        transform: scale(2);
        filter: hue-rotate(0deg);
    }
    
    
}

.card 

{
    background-color: teal;
    animation: cardEntrance 700ms ease-out;
    animation-fill-mode: backwards;
}
.card:nth-child(1) {
    grid-area: a;
}
.card:nth-child(2) {
    grid-area: b;
    animation-delay: calc(1* var(--stagger-delay));
}
.card:nth-child(3) {
    grid-area: c;
    animation-delay: calc(2* var(--stagger-delay));

}
.card:nth-child(4) {
    grid-area: d;
    animation-delay: calc(3* var(--stagger-delay));

}
.card:nth-child(5) {
    grid-area: e;
    animation-delay: calc(4* var(--stagger-delay));

}
.card:nth-child(6)
{
    grid-area: f;
    animation-delay: calc(5* var(--stagger-delay));
    

}
.card:nth-child(7) 
{

    grid-area: g;
    
    animation-delay: calc(6* var(--stagger-delay));

    
}
.card:nth-child(8) {
    grid-area: h;
    animation-delay: calc(7* var(--stagger-delay));

}
.card:nth-child(9) {
    grid-area: i;
    animation-delay: calc(8* var(--stagger-delay));

}
.card:nth-child(10) {
    grid-area: j;
    animation-delay: calc(9* var(--stagger-delay));

}
.card:nth-child(11) {
    grid-area: k;
    animation-delay: calc(10* var(--stagger-delay));

}
.card:nth-child(12) {
    grid-area: l;
    animation-delay: calc(11* var(--stagger-delay));

}
.card:nth-child(13) {
    grid-area: m;
    animation-delay: calc(12* var(--stagger-delay));

}
