.basic-grid {
    display: grid;
    gap: 1rem;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
    
    /* grid-template-columns: repeat(15, 1fr); */
    /* grid-template-columns: repeat(15, minmax(240px, 1fr));
     */
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));


}