@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;

}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;

}
li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;

}
.logo {
    width: 70px;
    height: auto;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 10%;
    margin-right: auto;
}
.nav-links {
    list-style: none;

}
.nav-links li {
    display: inline-block;
    padding: 0px 20px;

}
.nav-links li a {
    transition: all 0.3s ease 0s;
}
.nav-links a:hover {
    color: #0088a9;
}

button {
    margin-left: 30px;;
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover {
    background-color: rgba(0,136,169,0.8);

}
